:root
{
    --color-one: #131e32;
    --color-two: #CCA96C;
    --color-three: #ffffff;
    --color-four: #000000;
    --color-five: #949494;
}

*
{
    padding: 0px;
    margin: 0px;
}

body
{
    animation-name: body;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

@keyframes body 
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

.btn
{
    background: linear-gradient(45deg, var(--color-one) 0% 50% , var(--color-two) 50% 100%);
    background-size: 255%;
    background-position: left;
    transition: all 0.5s;
    border: none;
    padding: 10px;
}

.btn:hover
{
    background-position: right;
}

/* ========================================================================================= */



/* ========= >> login << ========= */



/* === >> code */



/* ========= >> login End << ========= */



/* ========================================================================================= */



/* ========= >> Home << ========= */



    /* === >> section one */


.welcome_background
{
    background-image: url("assets/images/law.jpg");
    background-position: center; 
    height: 900px;
}

.welcome
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    color: white;
}

.welcome>p
{
    font-size: x-large;
}

.welcome>h1
{
    font-size: 70px;
}

.welcome>div>button
{
    border-radius: 5px;
    padding-block: 13px;
    padding-inline: 40px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.5s;
}

.welcome>div>.Learn
{
    border: solid 2px rgb(153, 130, 100);
    background-color: rgb(153, 130, 100);
}

.welcome>div>.Contact
{
    border: solid 2px white;
    background-color: rgba(255, 255, 255, 0);
}

.welcome>div>button:hover
{
    color: black;
    background-color: white;
    border: solid 2px white;
}



/* === >> Our Practice  */

.swiper {
        width: 100%;
        padding: 50px;
        background-color: var(--color-two);
    }
    .swiper-slide {
        text-align: center;
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }
    .service-icon {
        width: 80px;
        height: 80px;
        background: #333;
        color: #c1a26e;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        margin: 0 auto 15px;
    }
    .swiper-button-prev, .swiper-button-next 
    {
        background: var(--color-one);
        color: #fff;
        width: 40px;
        height: 40px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

/* ========= >> Home End << ========= */




/* ========= >> contact us << ========= */

.contact2
{
    background-image: url(assets/images/law.jpg);
    border-radius: 10px;
    background-position: center;
}

/* ========= >> contact us end << ========= */



/* ========================================================================================= */



/* ========= >> courses << ========= */



/* === >> code */



/* ========= >> courses End << ========= */


/* ========================================================================================= */



/* ========= >> cart << ========= */



/* === >> code */



/* ========= >> cart End << ========= */


/* ========================================================================================= */



/* ========= >> profile << ========= */



/* === >> code */



/* ========= >> profile End << ========= */


/* ========================================================================================= */



/* ========= >> NavBar << ========= */

nav
{
    background-color: var(--color-three);
}

nav > div > .logo
{
    background-color: var(--color-one);
    color: var(--color-two);
    padding-block: 1.9rem;
    font-size: 1rem;
    overflow:hidden;
}

.contact 
{
    color: var(--color-five);
}

.contact > p 
{
    font-size: 15px;
}

.contact > p > i
{
    color: var(--color-two);
}

.social > ul > li
{
    color: var(--color-two);
    padding: 0.2rem;
    border-radius: 0.2rem;    
    border: 1px solid var(--color-two);
    transition: all 0.5s;
    font-size: 15px;
    margin-bottom: 0.5rem;
}
.social > ul > li:hover
{
    background-color: var(--color-two);
    color: var(--color-three);
}

.active1
{
    color: var(--color-two);
}

.nav-item > a
{
    font-size: 20px;
}

.nav-item > a:hover
{
    color: var(--color-two);
}

/* ========= >> NavBar End << ========= */


/* ========================================================================================= */


/* ========= >> footer << ========= */

footer > .lists > section > h3
{
    font-size: large;
}

.lists
{
    background-color: var(--color-one);
    color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.lists>section
{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    line-height: 1.8
}

.lists>section>p
{
    color: rgb(172, 172, 172);
}

.lists>section>ul
{
    padding: 0px;
    list-style: none;
    color: rgb(172, 172, 172);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lists>section>ul>li
{
    border-bottom: solid rgba(172, 172, 172, 0.199) 0.2px;
    padding-bottom: 10px;
}

.socialNav > ul > li
{
    color: var(--color-two);
    padding: 0.7rem;
    border-radius: 0.2rem;    
    border: 1px solid var(--color-two);
    transition: all 0.5s;
    font-size: 15px;
    margin-bottom: 0.5rem;
}

.socialNav > ul > li:hover
{
    background-color: var(--color-two);
    color: var(--color-three);
}

/* ========= >> footer End << ========= */


/* ========================================================================================= */



@media (max-width: 600px) 
{
    .welcome>p
    {
        font-size: large;
        margin-inline: 5px;
    }

    .welcome>h1
    {
        font-size: 50px;
    }

    .welcome>div>button
    {
        padding: 15px;
        padding-inline: 35px;
        font-size: 11px;
        font-weight: bold;
    }

    nav > div > .logo
    {
        padding-block: 0.5rem;
        background-color: white;
    }

    .social
    {
        display: none;
    }
}