:root
{
    --color-one: #131e32;
    --color-two: #CCA96C;
    --color-three: #ffffff;
    --color-four: #000000;
}

*
{
    padding: 0px;
    margin: 0px;
}

/* ========================================================================================= */



/* ========= >> login << ========= */



/* === >> code */



/* ========= >> login End << ========= */



/* ========================================================================================= */



/* ========= >> Home << ========= */



/* === >> code */



/* ========= >> Home End << ========= */


/* ========================================================================================= */



/* ========= >> courses << ========= */



/* === >> code */



/* ========= >> courses End << ========= */


/* ========================================================================================= */



/* ========= >> cart << ========= */



/* === >> code */



/* ========= >> cart End << ========= */


/* ========================================================================================= */



/* ========= >> profile << ========= */



/* === >> code */



/* ========= >> profile End << ========= */


/* ========================================================================================= */